
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title> textures </title>
  </head>
  <body>
  
    <div class="images">
      {% for img in images %}
        <a href="{{ img.image }}"><img src="{{ img.thumbnail }}"/></a>
      {% endfor %}
    </div>

  </body>
</html>
